
#search .navbar h1.nav-header {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 50px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 52.5px;
}
.nav-header {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
}
.search-wrapper {
    background-color: #f5f5f5;
    height: 100vh;
    margin-top:50px;
}
.search-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 0 8px 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    z-index: 1;
}
.search-header .input-wrapper {
    padding: 0 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.search-header .search-icon {
    width: 15px;
    height: 15px;
    margin-right: 6px;
    float: left;
    position: relative;
    top: 6px;
}
.search-header .search-input {
    -webkit-box-flex: 1;
    flex: 1;
    border: none;
    font-size: 13px;
    color: #333;
    line-height: 20px;
    padding: 4px 0;
    width: calc(100% - 40px);
}
.search-header .del-input {
    width: 15px;
    height: 15px;
    float: right;
    position: relative;
    top: 6px;
}
.search-header .cancel {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 16px;
    color: #f03d37;
}


/*ll*/


/*没img不行*/
img {
    height: 100%;
}

/*期待样式*/
.most-expected-ll {
    padding: 12px 0 12px 15px;
    background-color: #fff;
    margin-bottom: 10px;
}

.most-expected-ll .title-ll {
    margin: 0;
    font-size: 14px;
    color: #333;
    margin-bottom: 12px;
}

.most-expected-list-ll {
    overflow: scroll;
    white-space: nowrap;
}

.expected-item-ll {
    display: inline-block;
    width: 85px;
    overflow: hidden;
    margin-right: 10px;
}

.expected-item-ll .poster {
    width: 85px;
    height: 115px;
    position: relative;
    margin-bottom: 6px;
}

.expected-item-ll .poster .wish-bg-ll {
    display: inline-block;
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 0;
    background-image: -webkit-linear-gradient(top, rgba(77, 77, 77, 0), #000);
    background-image: linear-gradient(-180deg, rgba(77, 77, 77, 0), #000);
}

.expected-item-ll .poster .wish-ll {
    position: absolute;
    left: 4px;
    bottom: 2px;
    color: #faaf00;
    font-size: 11px;
    font-weight: 600;
}

.expected-item-ll .poster .toggle-wish-ll {
    width: 28px;
    line-height: 28px;
    background: rgba(61, 63, 71, .6);
    text-align: center;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.expected-item-ll .poster .toggle-wish-ll[data-wishst="0"] span {
    background-image: url(../../img/xin.png);
}

.expected-item-ll .poster .toggle-wish-ll span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.expected-item-ll .name {
    margin: 0;
    font-size: 13px;
    color: #222;
    margin-bottom: 3px;
}

.line-ellipsis-ll {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.expected-item-ll .date-ll {
    margin: 0;
    font-size: 12px;
    color: #999;
}


 .result {
     margin-bottom: 10px;
     background-color: #fff;
 }
.result h3 {
    font-size: 15px;
    color: #999;
    padding: 9px 15px;
}
h3, p {
    margin: 0;
}
h3 {
    font-weight: 400;
}
.result .list {
    padding-left: 15px;
    border-top: 1px solid #e6e6e6;
}
.result .movie {
    padding: 12px 0;
    min-height: 90px;
}
.result .cell, .result .list {
    border-bottom: 1px solid #e6e6e6;
}
.result .movie .poster {
    background-color: #eee;
    width: 64px;
    height: 90px;
    float: left;
    margin-right: 10px;
}
img {
    width: 100%;
}
a, img {
    display: block;
}
.result .movie .info {
    margin-right: 15px;
    margin-top: 1px;
}
.result .movie .name-score {
    font-size: 16px;
    color: #222;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 2px;
}
.result .movie .name-score .name {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.result .movie .name-score .name .one-line {
    display: inline-block;
    font-weight: 700;
    font-size: 17px;
}
.one-line {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.version {
    background-size: contain;
    background-repeat: no-repeat;
    height: 14px;
    margin-left: 5px;
    display: inline-block;
}
.result .movie .name-score .score, .result .movie .name-score .wish {
    color: #fa0;
    font-size: 10px;
    flex-shrink: 0;
    padding-left: 5px;
}
.result .movie .name-score .num {
    font-size: 16px;
}
.result .movie .detail-section {
    position: relative;
}
.result .movie .detail-section .detail-items {
    -webkit-box-flex: 1;
    flex-grow: 1;
    overflow: hidden;
    padding-right: 10px;
    margin-right: 48px;
    min-height: 27px;
}
.result .movie .detail-section .catogary, .result .movie .detail-section .ename, .result .movie .detail-section .release {
    font-size: 13px;
    color: #666;
    margin-top: 2px;
}
.result .movie .detail-section .sale {
    background-color: #ef4238;
}
.result .more-result {
    font-size: 15px;
    color: #ef4238;
    line-height: 44px;
    height: 44px;
    text-align: center;
}
.result .movie .detail-section .btn, .result .movie .detail-section .buy-btn {
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    line-height: 13px;
    margin-bottom: 7px;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    flex-shrink: 0;
    width: 48px;
    text-align: center;
    height: 27px;
    line-height: 27px;
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.result .cinema {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 15px 15px 15px 0;
}
.result .cinema .info {
    -webkit-box-flex: 1;
    flex: 1;
    overflow: hidden;
}
.result .cinema .name-price {
    font-size: 16px;
    color: #000;
    margin-bottom: 6px;
    display: -webkit-box;
    display: flex;
}
.one-line {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.result .cinema .sell-price {
    font-size: 11px;
    color: #999;
    white-space: nowrap;
    margin-left: 10px;
}
.result .cinema .price {
    font-size: 17px;
    color: #ef4238;
}
.result .cinema .address {
    font-size: 13px;
    color: #999;
}
.one-line {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.result .cinema .feature-tags span {
    border: 1px solid #589daf;
    color: #589daf;
    position: relative;
    display: inline-block;
    padding: 0 3px;
    height: 15px;
    line-height: 15px;
    border-radius: 2px;
    font-size:10px;
    margin-top:5px;
}
.result .cinema .feature-tags span.featrue {
    color: #f90;
    border-color: #f90;
}
.result .cinema .distance {
    font-size: 13px;
    color: #999;
}


/*修改搜索电影样式*/
.listsss{
    padding-top:62px;
}