.noBody{
    margin-left:145px;
    padding-top:20px;
}
element.style {
    transform: translate3d(157px, 0px, 0px);
    transition-duration: 0ms;
}

.body .body-wrap > div {
    background-color: #fff;
}

.cinema-block .cinema-info {
    position: relative;
    padding: 15px;
    padding-right: 100px;
}

.cinema-block .cinema-info .title {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #333;
}

.cinema-block .cinema-info .location {
    margin-top: 2px;
    font-size: 13px;
    line-height: 18.5px;
    color: #999;
}

.cinema-block .cinema-info .location-icon {
    position: absolute;
    right: 0;
    top: 50%;
    width: 70px;
    height: 31px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-left: 1px solid #d8d8d8;
    text-align: center;
}

.cinema-block .cinema-info .location-icon img {
    display: inline-block;
    width: 19px;
    height: 22px;
    margin-top: 5px;
}

.cinema-block .cinema-nav {
    padding: 20px 0;
    padding-left: 5px;
    padding-right: 15px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.cinema-block .cinema-nav .post-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    background-position-y: 40%;
}

.cinema-block .cinema-nav .post-bg-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #40454d;
    opacity: .55;
}

.cinema-block .cinema-nav .swiper-slide.swiper-slide-active {
    padding-right: 5px;
}

.cinema-block .cinema-nav .swiper-slide:first-child {
    margin-left: 10px;
}

.cinema-block .cinema-nav .swiper-slide {
    width: 65px;
    height: 95px;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.cinema-block .cinema-nav .swiper-slide + .swiper-slide {
    margin-left: 15px;
}

.cinema-block .cinema-nav .swiper-slide {
    width: 65px;
    height: 95px;
}

.cinema-block .movie-info {
    padding: 11px 15px;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}

.cinema-block .movie-info .movie-title {
    height: 24px;
    line-height: 24px;
    font-size: 17px;
    color: #333;
    font-weight: 700;
}

.line-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.movie-title {
    height: 24px;
    line-height: 24px;
    font-size: 17px;
    color: #333;
    font-weight: 700;
}

.cinema-block .movie-info .movie-title .grade {
    color: #ffb400;
    font-size: 16px;
}

.cinema-block .movie-info .movie-title .grade .small {
    font-size: 10px;
}

.cinema-block .movie-info .movie-desc {
    margin-top: 2px;
    height: 18.5px;
    line-height: 18.5px;
    font-size: 13px;
    color: #999;
}

.body .body-wrap > div {
    background-color: #fff;
}

.body .nav-wrap {
    position: relative;
}

.nav-block .nav-bar {
    position: relative;
    height: 45px;
    overflow: hidden;
    white-space: nowrap;
}

.nav-block .nav-bar .nav-bar-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -20px;
    padding-bottom: 20px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.nav-block .nav-bar .nav-item.active {
    color: #f03d37;
    position: relative;
}

.nav-block .nav-bar .nav-item:first-child {
    margin-left: 15px;
}

.nav-block .nav-bar .nav-item {
    display: inline-block;
    line-height: 45px;
    height: 45px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.nav-block .nav-bar .nav-item.active:after {
    content: "";
    position: absolute;
    width: 110%;
    height: 2px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #f03d37;
}

.nav-block .nav-bar .nav-item + .nav-item {
    margin-left: 30px;
}

.discount-block {
    padding-top: 1px;
}

.vip-tips {
    background-color: #fff5ea;
}

.discount-tips, .vip-tips {
    padding: 0 15px;
    height: 42px;
    line-height: 42px;
    margin-top: -1px;
}

.discount-tips a, .vip-tips a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #777;
}

.vip-tips .label {
    background-color: #ff941a;
}

.discount-tips .label, .vip-tips .label {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: inline-block;
    border-radius: 2px;
    font-size: 10px;
    line-height: 15px;
    height: 15px;
    text-align: center;
    color: #fff;
    margin-top: 13px;
    margin-right: 10px;
}

.vip-tips .label-text {
    color: #fa9600;
}

.line-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.discount-tips .process, .vip-tips .process {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    line-height: 42px;
    color: #999;
    font-size: 12px;
    margin-left: 90px;
}

.discount-tips .process:after, .vip-tips .process:after {
    display: inline-block;
    content: "";
    width: 7px;
    height: 7px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.seat-list .list-wrap .item-outer {
    padding: 17px 0;
    border-bottom: 1px solid #e6e6e6;
    background-color: white;
}

.seat-list .list-wrap .item {
    padding-right: 12.5px;
}

.box-flex {
    display: -webkit-box;
    display: flex;
}

.seat-list .list-wrap .item .time-block {
    position: relative;
}

.seat-list .list-wrap .item .time-block .begin {
    font-size: 20px;
    color: #333;
    line-height: 1;
    white-space: nowrap;
}

.seat-list .list-wrap .item .time-block .end {
    margin-top: 10px;
    color: #999;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
}

.seat-list .list-wrap .item .time-block .end > .tui {
    margin-left: 4px;
    display: inline-block;
    -webkit-transform: translateY(-.5px);
    transform: translateY(-.5px);
}

.seat-list .list-wrap .item .info-block {
    margin-left: 17px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-x: hidden;
}

.seat-list .list-wrap .item .info-block .lan {
    margin-top: 2px;
    line-height: 18px;
    font-size: 13px;
    color: #333;
    white-space: normal;
}

.seat-list .list-wrap .item .info-block .hall {
    margin-top: 7px;
    font-size: 11px;
    color: #999;
    white-space: normal;
}

.seat-list .list-wrap .item .price {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 130px;
    margin-left: 5px;
}

.seat-list .list-wrap .item .price .sellPr {
    display: inline-block;
    line-height: 1;
    color: #f03d37;
    margin-top: 1px;
    font-size: 19px;
}

.seat-list .list-wrap .item .price .sellPr .d {
    /*color: 13px;*/
    font-size: 11px;
}

.vipPrice {
    display: inline-block;
    line-height: 15px;
    height: 15px;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    -webkit-transform-origin: left;
    transform-origin: left;
    margin-right: -16px;
    border: 1px solid #ff9000;
    border-radius: 2px;
    font-size: 12px;
}

.vipPrice .icon, .vipPrice .num {
    display: inline-block;
    padding: 0 2px;
}

.vipPrice .icon {
    color: #fff;
    background-color: #f90;
}

.seat-list .list-wrap .item .price .extraDesc {
    margin-top: 5px;
    display: block;
    font-size: 11px;
    color: #999;
}

.seat-list .list-wrap .item .button-block {
    width: 45px;
    margin-left: 2px;
    position: relative;
}

.seat-list .list-wrap .item .button-block .button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 27px;
    line-height: 28px;
    font-size: 12px;
    background-color: #f03d37;
    color: #fff;
    border-radius: 4px;
    text-align: center;
}

element.style {
    height: 10px;
    background-color: #f0f0f0;
}

.body .body-wrap > div {
    background-color: #fff;
}

.tuan-wrap .tuan-list {
    position: relative;
    margin: 0 0 0 15px;
}

.tuan-wrap .tuan-list .tuan-title {
    line-height: 45px;
    height: 45px;
    font-size: 15px;
    color: #666;
    border-bottom: 1px solid #e6e6e6;
}

.tuan-wrap .tuan-list .tuan-item {
    cursor: pointer;
    position: relative;
    width: 100%;
    padding: 13px 0;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
}

.tuan-wrap .tuan-list .tuan-item img {
    display: inline-block;
    width: 92px;
    height: 92px;
    float: left;
}

.tuan-wrap .tuan-list .tuan-item .hot-tag {
    position: absolute;
    left: 0;
    top: 13px;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    background-color: #fa5939;
    font-size: 12px;
    padding: 0 5px;
    color: #fff;
    border-bottom-right-radius: 2px;
}

.tuan-wrap .tuan-list .tuan-item .item-info {
    position: relative;
    margin: 0 15px 0 102px;
    height: 92px;
    overflow: hidden;
}

.tuan-wrap .tuan-list .tuan-item .item-info .title {
    font-size: 14px;
    line-height: 18px;
    color: #333;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.tuan-wrap .tuan-list .tuan-item .item-info .title span {
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
    margin-right: 7px;
    padding: 0 4px;
    font-size: 10px;
    line-height: 15px;
    height: 15px;
    background: #f90;
    border-radius: 2px;
    color: #fff;
}

.tuan-wrap .tuan-list .tuan-item .item-info .sell-num {
    display: inline-block;
    position: absolute;
    bottom: 34px;
    right: 0;
    line-height: 16px;
    height: 16px;
    font-size: 12px;
    color: #999;
}

.tuan-wrap .tuan-list .tuan-item .item-info .price {
    position: absolute;
    bottom: 0;
    left: 0;
}

.tuan-wrap .tuan-list .tuan-item .item-info .price .sell-price {
    color: #f03d37;
    display: inline-block;
}

.tuan-wrap .tuan-list .tuan-item .item-info .price .sell-price span {
    font-size: 14px;
}

.tuan-wrap .tuan-list .tuan-item .item-info .price .sell-price .num {
    font-size: 17px;
}

.tuan-wrap .tuan-list .tuan-item .item-info .buy-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    padding: 0 8px;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
    border-radius: 3px;
    color: #fff;
    background-color: #f03d37;
}

.no-seat {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 230px;
    background-color: #f0f0f0;
}

.no-seat .icon {
    width: 77.5px;
}

.no-seat .text {
    margin-top: 12px;
    line-height: 1;
    font-size: 16px;
    color: #acacac;
}

.no-seat .next-date-button {
    margin: 20px auto 0;
    border-radius: 5px;
    width: 170px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #f03d37;
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: #fff;
    text-align: center;
}
