.am-wingblank {
    overflow: hidden;
    padding:20px 0 0 0;
    margin-left:0 !important;
    margin-right:0 !important;
    position: relative;
    left:0;
    height:125px;
    touch-action: none;
    background:rgba(64,69,77,0.55);
}
.am-carousel{
    wdith:80px;
    height:100px;
    display: block;
    position:absolute;
    left:50%;
    transform: translateX(-40px);
}
