
.no-data {
    z-index: -9;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.no-data .wrapper {
    background-image: url(../img/spdingdan.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 2.2rem 2.2rem;
    top: 50%;
    margin-top: -2rem;
    height: 4rem;
    box-sizing: border-box;
}
.history-link, .no-data .wrapper {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
}
.wrapper {
    overflow: hidden;
    padding: 0 .2rem;
}
.no-data .wrapper .tip-text {
    display: block;
    padding-top: 2.4rem;
    font-size: .32rem;
    height: .56rem;
    line-height: .56rem;
    color: #999;
}