<div>
    {
    this.props.cinemaDetail.showData?this.props.cinemaDetail.showData.movies.map((v,i)=>(
    <div key={i}>

        <div className="cinema-nav swiper-container swiper-container-horizontal">
            <div className="post-bg"
                 style={{backgroundImage: `url(&quot;//p0.meituan.net/148.208/moviemachine/58ee13be6dc60bf5e636cf915bbbaaa55787785.jpg&quot;)`}}></div>
        <div className="post-bg-filter"></div>
        <div className="swiper-wrapper"
             style={{transform: 'translate3d(159.5px, 0px, 0px)',transitionDuration: '0ms'}}>
        <div className="swiper-slide swiper-slide-active">
            <div className="post" >

                <img src={this.$tools.movieImg(v.img)}/>

            </div>
        </div>
    </div>
</div>
<div className="movie-info">
    <div className="movie-title line-ellipsis">
        <span className="title">{v.nm}</span>
        <span className="grade">
                                <span>{v.sc}<span className="small">分</span></span>

                                </span>

    </div>
    <div className="movie-desc line-ellipsis">{v.desc}</div>
</div>
</div>
)):null
}


</div>