
#oninfo {
    padding-bottom: 47px;
}

.topbar {
    border-bottom: 1px solid #e6e6e6;
    height: 44px;
    position: sticky;
    top:50px;
    z-index: 9;
}

.white-bg {
    background-color: #fff;
}

.topbar-bg {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 44px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.city-entry {
    padding-left: 15px;
    font-size: 15px;
    color: #666;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.city-entry .city-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px;
    max-width: 19.2vw;
}

.city-entry-arrow {
    width: 0;
    height: 0;
    border: 4px solid #b0b0b0;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    display: inline-block;
    margin-left: 4px;
    margin-top: 5px;
}

.switch-hot {
    display: -webkit-box;
    display: flex;
    height: 44px;
    line-height: 44px;
    position: relative;
}

.switch-hot .hot-item.active {
    color: #ef4238;
    /* color: black; */
}

.switch-hot .hot-item {
    font-size: 15px;
    color: #666;
    width: 80px;
    width: 21.33333vw;
    text-align: center;
    margin: 0 12px;
    font-weight: 700;
}

.switch-hot[data-active=".n-hot"]:after {
    left: 12px;
    left: 3.2vw;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 14px;
    background: url(../../img/sousuo.png) no-repeat;
    background-size: 20px;
    padding: 10px 15px 10px 10px;
    background-position: 10px;
}

.list-wrap {
    background-color: #f5f5f5;
}

.list-wrap .item {
    padding-left: 15px;
    background-color: #fff;
}

.list-wrap .item .main-block {
    position: relative;
    width: 100%;
}

.list-wrap .item .avatar {
    width: 64px;
    height: 90px;
    position: relative;
    margin-top: 12px;
    float: left;
}

.default-img-bg {
    background-color: #e1e1e1;
    background-size: 100% 100%;
}

.tab-content .list-wrap .item .avatar img {
    background-color: transparent;
    height: 90px;
}

img {
    width: 100%;
}

.list-wrap .item .content-wrapper {
    padding: 12px 14px 12px 0;
    margin-left: 74px;
    margin-right: 14px;
    height: 90px;
    max-height: 90px;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}

.list-wrap .item .content {
    padding-right: 5px;
    margin-right: 48px;
    overflow: hidden;
}

.list-wrap .item .movie-title {
    max-height: 24px;
    margin-bottom: 7px;
    line-height: 24px;
    overflow: hidden;
}

.box-flex {
    display: -webkit-box;
    display: flex;
}

.list-wrap .item .title {
    font-size: 17px;
    color: #333;
    font-weight: 700;
    padding-right: 5px;
    flex-shrink: 1;
}

.line-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.version.v3d.imax {
    width: 43px;
    background-image: url("../../img/3d.png");
}

.version {
    background-size: contain;
    background-repeat: no-repeat;
    height: 14px;
    width: 17px;
    display: inline-block;
    margin-top: 5px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-right: 3px;
}

.list-wrap .item .detail {
    box-sizing: border-box;
    line-height: 1;
    overflow: hidden;
}

.list-wrap .item .detail .score {
    font-size: 13px;
    color: #666;
}

.line-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list-wrap .item .detail .score .grade {
    font-weight: 700;
    color: #faaf00;
    font-size: 15px;
}

.list-wrap .item .detail .actor {
    font-size: 13px;
    color: #666;
}

.list-wrap .item .detail .show-info {
    font-size: 13px;
    color: #666;
}

.list-wrap .item .detail > div + div {
    margin-top: 6px;
    line-height: 15px;
}

.list-wrap .item .button-block {
    font-size: 12px;
    position: absolute;
    right: 14px;
    top: 0;
    bottom: 0;
    height: 27px;
    margin: auto;
}

.list-wrap .item .button-block .btn {
    width: 47px;
    height: 27px;
    line-height: 1;
    text-align: center;
    box-sizing: border-box;
    background-color: #f03d37;
    color: #fff;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    cursor: pointer;
}

.list-wrap .item .button-block .btn.pre {
    background-color: #3c9fe6;
}

.list-wrap .item .detail .wantsee .person {
    color: #faaf00;
    font-size: 15px;
    font-weight: 600;
}


